<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.min.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Should Your Team Go For It? - Results</title>
  </head>
  <body>
    <h1>4th and {{ to_go }} from the {{ field_position }}</h1>
    {% if same: %}
    <h1>You should {{ winner_ep }}</h1>
    {% else: %}
    <h3>You should:</h3>
    <h3>- {{ winner_ep }} if the time and score are not important.</h3>
    <h3>- {{ winner_wp }} if the time and score are important.</h3>
    {% endif %}
    <div class="row-fluid">
      <div class="span12">
        <h3>Going For It</h3>
        <p>
        A first down in this situation would be worth 
        {{ d['go_for_it']['expected_points_success'] }} points, and a turnover 
        on downs would cost 
        {{ d['go_for_it']['expected_points_failure'] }} points. 
        {% if winner_ep == "go for it" %}
        The total expected points from going for it 
        ({{ d['go_for_it']['expected_points_total'] }}, assuming a successful 
        conversion rate of {{ d['go_for_it']['expected_success_rate'] * 100 }}%) 
        exceeds the expected points from punting 
        ({{ d['punt']['expected_points_total'] }}) 
        {% if show_field_goal %}or kicking a field goal 
        ({{ d['field_goal']['expected_points_total'] }}){% endif %}.
        {% else %}
        It would be worth it if teams converted more than 
        {{ d['go_for_it']['expected_break_even'] * 100 }}% of their fourth down 
        attempts, however NFL teams in this position only have a 
        {{ d['go_for_it']['expected_success_rate'] * 100 }}% chance of getting a 
        first down.
        {% endif %}
        </p>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <h3>Punting</h3>
        <p>
        Choosing to punt costs the team {{ d['punt']['expected_points_total'] }} points. 
        {% if winner_ep == 'punt' %}
        This means punting is the best decision.
        {% else %}
        Going for it {% if show_field_goal %}or kicking a field goal{% endif %} makes more sense.
        {% endif %}
        </p>
      </div>
    </div>
    {% if show_field_goal %}
    <div class="row-fluid">
      <div class="span12">
        <h3>Kicking a Field Goal</h3>
        <p>
        Kicking a field goal gains the team 
        {{ d["field_goal"]["expected_points_total"] }} points on average 
        ({{ d["field_goal"]["expected_points_success"] }} for a make, 
        {{ d["field_goal"]["expected_points_failure"] }} for a miss, with a 
        {{ d["field_goal"]["expected_success_rate"] }} chance of 
        making the kick). 
        {% if winner_ep == "field goal" %}
        This means kicking a field goal is the best decision.
        {% else %}
        Going for it or punting makes more sense.
        {% endif %}
        </p>
      </div>
    </div>
    {% endif %}
  </body>
</html>
