<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.min.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Should Your Team Go For It?</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <h1>Should Your Team Go For It?</h1>
        </div>
      </div>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="row-fluid">
          <div class="span12">
            {% for message in messages %}
            <div class="alert alert-error">{{message}}</div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      {% endwith %}
      <div class="row-fluid">
        <div class="span12">
          Source: <a href="http://wp.advancednflstats.com/4thdncalc1.php">
            Brian Burke's 4th Down Calculator</a>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <form method="GET" action="/calc">
            <fieldset>
              <label>How far are you from a 1st down?<span style="color: red; font-size: 20px;">*</span></label>
              <input name="to_go" style="width: 80px;" type="number" min="0" placeholder="2" value="2" /> yards
              <label>How far are you from the end zone?<span style="color: red; font-size: 20px;">*</span></label>
              <input name="field_position" type="number" min="0" placeholder="12" style="width: 80px;" value="12" /> yards

              <h4>If time and score are important:</h4>
              <label>Point difference</label>
              <input name="margin" type="number" min="0" />
              <label>Quarter</label>
              <select name="quarter">
                <option value="1">1st</option>
                <option value="2">2nd</option>
                <option value="3">3rd</option>
                <option value="4" selected="selected">4th</option>
                <option value="5">Overtime</option>
              </select>
              <label>Time on the clock (min : sec)</label>
              <input type="number" name="minutes" style="width: 80px;" 
                min="0" max="15" />
              :
              <input type="number" name="seconds" style="width: 80px;" min="0" 
                max="60" />
              <div class="form-actions">
                <button type="submit" class="btn btn-primary">Calculate</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
